body {
    background: f8f8f8;
    padding: 5px 10px;

    #id {
        padding: 0 10px;
    }
}




.app {
    // background: rgb(228, 219, 219);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    font-size: 16px;

    .linkPanel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid grey;
        padding: 5px 10px;

        .link {
            font-size: 18px;
        }

        .content {
            display: flex;
        }
    }
}

// Здесь стили более разумных, но все еще мобильных устройств. Android, iPhone  и так далее.
@media only screen and (min-width: 480px) {
    .app {
        font-size: 16px;

        .linkPanel {
            display: flex;
            flex-direction: row;

            .link {
                padding-left: 15px;
                font-size: 20px;
            }

            .content {
            }
        }
    }
}
    
    // Планшеты в режиме portrait.
@media only screen and (min-width: 768px) {
    .app {
        font-size: 16px;
    
        .linkPanel {
            display: flex;
            flex-direction: row;

            .link {
                padding-left: 7px;
                flex-direction: column;
                font-size: 20px;
            }

            .content {
                
            }
        }
    }
    
}
    
    // Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп.
@media only screen and (min-width: 992px) {
    .app {
        font-size: 16px;
    
    
        .linkPanel {
            display: flex;
            flex-direction: row;

            .link {
                padding-left: 15px;
                font-size: 20px;
            }

            .content {
            
            }
        }
    }
    
}
    
    // Десктоп с большими разрешениями, телевизоры.
@media only screen and (min-width: 1200px) {
    .app {
        font-size: 16px;
    
        .linkPanel {
            display: flex;
            flex-direction: row;

            .link {
                padding-left: 15px;
                font-size: 20px;
            }

            .content {
            
            }
        }
    }
    
}