.controlPanel {
    // border: 2px solid rgb(118, 182, 255);

    div {
        margin: 5px 0;

        .buttonSort {
            background: white;
            color: black;
            border: 2px solid rgb(191, 123, 255); 
            transition: linear 0.5s;
            display: block;
            width: 100%;
            height: 45px;
            padding: 5px 10px;
            font-size: 30px;
            margin: 0;
            
            &:hover {
                color: white;
                background: rgb(191, 123, 255);
            }
        }
    }

}




// Здесь стили более разумных, но все еще мобильных устройств. Android, iPhone  и так далее.
@media only screen and (min-width: 480px) {
    
        
    .controlPanel {
        div {
            margin: 10px 0;
            .buttonSort {
                margin-left: 5px;
            }
        }
    } 
    
}
    
// Планшеты в режиме portrait.
@media only screen and (min-width: 768px) {
    .controlPanel {
        display: flex;
        justify-content: space-between;

        div {
            width: 100%;
            margin: 0 5px;

            input[type="checkbox"] {
                display: block;
            }
        }
            
        .buttonSort {
            margin-left: 5px;
        }
    } 
    
}
    
    // Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп.
@media only screen and (min-width: 992px) {
    .controlPanel {
           
        .buttonSort {
            margin-left: 5px;
        }
    } 
    
}
    
    // Десктоп с большими разрешениями, телевизоры.
@media only screen and (min-width: 1200px) {    
    .controlPanel {
            
        .buttonSort {
            margin-left: 5px;
        }
    } 
}