.employeePreview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 5px 2px;

    .inputsProfile {
        margin: 5px 0;
    }
    .hidden {
        display: none;
    }
}



// Здесь стили более разумных, но все еще мобильных устройств. Android, iPhone  и так далее.
@media only screen and (min-width: 480px) {
    .employeePreview {
        padding: 10px 5px;
        font-size: 20px;
        width: 480px;

        div {
            margin: 10px 0;

            .inputsProfile {
                margin: 10px 0;
            }
        }
    }
}
    
    // Планшеты в режиме portrait.
@media only screen and (min-width: 768px) {
    .employeePreview {
        font-size: 20px;
        width: 480px;

        div {
            margin: 10px 0;

            .inputsProfile {
                margin: 10px 0;
            }
        }
    }
    
}
    
    // Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп.
@media only screen and (min-width: 992px) {
    .employeePreview {
        font-size: 20px;
        width: 480px;

        div {
            margin: 10px 0;

            .inputsProfile {
                margin: 10px 0;
            }
        }
    }
    
}
    
    // Десктоп с большими разрешениями, телевизоры.
@media only screen and (min-width: 1200px) {
   
    .employeePreview {
        font-size: 20px;
        width: 480px;

        div {
            margin: 10px 0;

            .inputsProfile {
                margin: 10px 0;
            }
        }
    }
}